services:
  frontend:
    build:
      context: ./frontend
      args:
        - VITE_FIREBASE_API_KEY=${VITE_FIREBASE_API_KEY}
        - VITE_FIREBASE_AUTH_DOMAIN=${VITE_FIREBASE_AUTH_DOMAIN}
        - VITE_FIREBASE_PROJECT_ID=${VITE_FIREBASE_PROJECT_ID}
        - VITE_FIREBASE_STORAGE_BUCKET=${VITE_FIREBASE_STORAGE_BUCKET}
        - VITE_FIREBASE_MESSAGING_SENDER_ID=${VITE_FIREBASE_MESSAGING_SENDER_ID}
        - VITE_FIREBASE_APP_ID=${VITE_FIREBASE_APP_ID}
        - VITE_API_ADDRESS
    networks:
      - frontend-net

  api:
    build: ./backend
    depends_on:
      - db
      - redis
    environment:
      - FIREBASE_SERVICE_ACCOUNT_JSON
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - DB_HOST=db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - voices_data:/code/voices
    networks:
      - backend-net
      - frontend-net

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend-net

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: aalizelau@gmail.com
      PGADMIN_DEFAULT_PASSWORD: xK9#mW2vLp7QbT4r
    depends_on:
      - db
    networks:
      - backend-net

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - backend-net

networks:
  frontend-net:
  backend-net:

volumes:
  db_data:
    driver: local
  redis_data:
    driver: local
  voices_data:
    driver: local
